body {
    background-color: #393E46;
    color: #4ECCA3;
}

h1 {
    font-size: 7rem;
    font-family: 'Lobster', cursive;
    margin-top: 10px;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice-container {
    display: flex;
    gap: 3rem;
}

.dice-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

footer {
    margin-top: 10rem;
    color: white;
    text-align: center;
}

footer p {
    font-size: 1rem;
}